@model IEnumerable<CadastroDeUsinas.Models.Usina>

@{
    ViewData["Title"] = "";
}

<h4>Listagem de usinas de Geração Distribuída</h4>
<hr />
<style>
    .autocomplete {
        position: relative;
        display: inline-block;
    }

    .autocomplete-items {
        position: absolute;
        z-index: 99;
        top: 88%;
        left: 0;
        right: 0;
        margin: 0px 16px;
    }
</style>

<div class="row" style="margin-bottom:15px;">
    <div class="col-sm">
        UC da usina:
        <input type="text" id="txtUCFiltro" onkeyup="Filtrar(this.value,0)" class="form-control" />
    </div>
    <div class="col-sm">
        Fornecedor:
        <input type="text" id="txtFornecedorFiltro" data-id="" onkeyup="Filtrar(this.value,2)" class="form-control" />
    </div>
    <div class="col-sm">
        Ativo:
        <select class="form-control" onchange="FiltrarAtivo(this.value,1)">
            <option value="">Selecione</option>
            <option value="Ativo">Ativo</option>
            <option value="Inativo">Inativo</option>
        </select>
    </div>
    <div class="col-md-auto">
        <button class="btn btn-info" style="margin-top:24px" onclick="Cadastrar()">Cadastrar</button>
    </div>
</div>

<table class="table table-bordered" id="tblUsinas">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th>
                Fornecedor
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody id="tbUsinas"></tbody>
    <tfoot id="tfUsinas" style="display:none;"><tr><td colspan="4">Não há registros!</td></tr></tfoot>
</table>

<div class="modal fade" id="mdCadastro" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Cadastro de usinas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body needs-validation">
                <div class="form-group">
                    <label for="txtUCusina">UC da usina:</label>
                    <input type="text" class="form-control" id="txtUCusina" placeholder="UC da usina" required>
                    <div class="invalid-feedback">
                        Por favor, informe um UC da usina válido.
                    </div>
                </div>
                <hr />
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="chkAtivo">
                    <label class="form-check-label" for="chkAtivo">Ativo</label>
                </div>
                <hr />
                <div class="form-group">
                    <label for="txtFornecedor">Fornecedor:</label>
                    <input type="text" class="form-control autocomplete" data-id="" id="txtFornecedor" placeholder="Fornecedor" required>
                    <div class="invalid-feedback">
                        Por favor, informe um Fornecedor válido.
                    </div> 
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" id="btnSalvar" data-id="" onclick="Salvar()" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"></script>
<script src="~/js/Cadastro.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>